body{	
	
	background-image:url(https://image.ondacero.es/clipping/cmsimages01/2016/12/08/91FF3675-0410-4AB4-B983-4982214E2AB1/31.jpg);
	background-size:100% 100%;
	background-attachment:fixed;
	background-repeat: no-repeat;
	}